@import "../vars";
@import "../mixins";

.personal {
  &__container {
    margin: 50px 0;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }
  &__nav {
    width: 265px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 25px;
    &-user {
      margin-bottom: 35px;
      &-containerImg {
        display: flex;
        justify-content: center;
        cursor: pointer;
      }
      &-avatar {
        width: 135px;
        height: 175px;
      }
      &-photo {
        width: 175px;
        height: 175px;
        border-radius: 50%;
      }
      &-name {
        margin-top: 25px;
        font-style: italic;
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
      }
    }
    &-items {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0 15px;
    }
    &-item {
      display: flex;
      gap: 10px;
      font-weight: 500;
      font-size: 20px;
      text-align: center;
      &:hover {
        * {
          color: $primaryColor;
        }
      }
      &-icon {
        width: 25px;
        height: 25px;
        * {
          fill: #757575;
        }
      }
      &-text {
        color: #757575;
      }
      &--exit {
        cursor: pointer;
        * {
          fill: red;
          color: red;
        }
        &:hover {
          * {
            color: red;
          }
        }
      }

    &.active {
      .personal__nav-item-text {
        color: $primaryColor;
      }
    }
    }
  }
  &__content {
    flex: 1;
  }
}