@import "../vars";
@import "../mixins";

.archive {
  display: flex;
  margin-bottom: 50px;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15),
    0 3px 6px 0 rgba(75, 81, 91, 0.15);
  &__title {
    text-align: center;
    margin: 25px 0;
    font-weight: 500;
    font-size: 32px;
  }
  &__sidebar {
    padding: 20px 25px 20px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-right: 1px solid #b7bac0;
    h3 {
      color: #606f89;

      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
    label {
          font-weight: 400;
          font-size: 14px;
          letter-spacing: 0.05em;
          color: #606f89;
        }

    .filter {
      width: 220px;
      display: flex;
      gap: 10px;
      flex-direction: column;
      &__date{
        display: flex;
        align-items: center;
        gap: 10px;
        &-input {
          font-size: 12px;
        }
      }
      &__checkbox-list {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
      &__checkbox{
        display: flex;
        gap: 15px;
        align-items: center;
      }
    }
    input,
    select {
      padding: 10px 15px;
      border-radius: 4px;
      background: #dae1ec;

      font-weight: 400;
      font-size: 14px;
      color: rgba(46, 59, 82);
      &::placeholder {
        color: rgba(46, 59, 82, 0.33);
      }
    }
    select {
      appearance: none;
      background-image: url("data:image/svg+xml;utf8,<svg fill='rgba(46, 59, 82)' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M0 0h24v24H0z' fill='none'/><path d='M7 10l5 5 5-5z'/></svg>");
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 16px 16px;
      option {
        padding: 15px;
        color: #2e3b52; /* Цвет текста опций */
        background: #dae1ec;
        &:disabled {
          color: rgba(46, 59, 82, 0.33);
          background: #dae1ec;
        }
        &:hover {
          color: #fff;
        }
      }
    }
  }
  &__content {
    position: relative;
    width: 100%;
  }
  &__controls {
    padding: 20px 40px 0 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &-btn {
      display: flex;
      align-items: center;
      gap: 10px;
      background: #f04438;
      border-radius: 4px;
      padding: 10px 15px;
      color: #fff;
      font-weight: 500;
      font-size: 16px;
      &:hover {
        background: darken(#f04438, 15%);
      }
    }
    input {
      padding: 10px 15px;
      border-radius: 4px;
      background: #dae1ec;

      font-weight: 400;
      font-size: 14px;
      color: rgba(46, 59, 82);
      &::placeholder {
        color: rgba(46, 59, 82, 0.33);
      }
    }
    .valid-selected {
      background-image: none;
    }
    &-top {
      display: flex;
      justify-content: space-between;
      &-pagination {
        display: flex;
        gap: 10px;
        align-items: center;
        label {
          font-weight: 400;
          font-size: 14px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          text-align: center;
          color: #606f89;
        }
      }
      &-input {
        width: 50px;
        text-align: center;
      }
    }
    &-bottom {
      display: flex;
      gap: 50px;
      &-search {
        width: 300px;
        padding-left: 40px !important;
        &-wrapper {
          position: relative;
          display: inline-block;
        }
        &-icon {
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
        }
      }
      &-tags {
        width: 300px;
      }
    }
    &-bulk {
      display: flex;
      gap: 50px;
      text-align: center;

      label {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-align: center;
        color: #606f89;
      }
      &-actions {
        display: flex;
        gap: 35px;
      }
      &-btn {
        color: #606f89;
        display: flex;
        background-color: inherit;
        gap: 15px;
        transition: color 0.5s ease-in;
        &:hover {
          color: $primaryColor;
          * {
            transition: fill 0.5s ease-in;
            fill: $primaryColor;
          }
        }
      }
    }
  }
  &__table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;

    & th,
    td {
      padding: 20px 40px;
      text-align: center;
    }
    & th {
      padding: 12px 0;
      background-color: #f4f7fc;
      color: #606f89;

      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
    & tr {
      font-weight: 400;
      font-size: 14px;

      color: #2e3b52;
      &:nth-child(even) {
        background-color: #f4f7fc;
      }
      &:nth-child(odd) {
        background-color: #fff;
      }
      &.selected {
        background-color: #ebf2ff;
        .archive__table-select {
          border-left: 5px solid $primaryColor;
        }
        .type-file-icon {
          * {
            fill: $primaryColor;
          }
        }
      }
    }
    &-select {
      &-input {
        appearance: none;
        width: 18px;
        height: 18px;
        margin-right: 8px;
        border: 1px solid #bbbbbb;
        border-radius: 3px;
        cursor: pointer;
        position: relative;
        &::before {
          content: "\2714";
          display: block;
          font-size: 14px;
          color: $primaryColor;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
        }
        &:checked {
          border: 1px solid $primaryColor;
          ~ label {
            color: #000;
          }
          &:before {
            opacity: 1;
          }
        }
      }
    }
    &-type {
      width: 5%;
    }
    &-name {
      width: 20%;
    }
    &-author {
      width: 15%;
    }
    &-date {
      width: 10%;
    }
    &-size {
      width: 15%;
    }
    &-status {
      width: 15%;
    }
    td.archive__table-status {
      padding: 20px 10px !important;
    }
    &-actions {
      width: 15%;
    }
    td.archive__table-actions {
      display: flex;
      padding: 20px 25px !important;
    }
  }
  &__records {
    padding: 0 40px 15px 40px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: #606f89;
  }

  .type-file-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    * {
      width: 35px;
      height: 35px;
    }
  }
}

.func-button {
  background: none;
  border: none;
  cursor: pointer;
  &:hover {
    * {
      fill: $primaryColor;
      transition: fill 0.5s ease;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bbc0c7;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: $primaryColor;
}

input:checked + .slider:before {
  transform: translateX(14px);
}
