@import "../vars";
@import "../mixins";

.welcome {
  margin-bottom: 30px;
  &__inner {
    padding: 50px 0 50px 35px;
    position: relative;
    background: url(/images/welcome.png) center center/cover no-repeat;
    background-color: #273895;
  }
  &__info {
    width: 610px;
    &-title {
      color: #fff;
      text-align: left;
      text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      font-weight: 400;
      font-size: 36px;
      line-height: 137%;
    }
    &-text {
      width: 490px;
      color: #fff;
      text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      margin-top: 35px;
      margin-bottom: 75px;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
    }
  }
}

.opportunities {
  margin-bottom: 30px;
  h2 {
    text-align: center;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 15px;
    &-item {
      width: calc(25% - 12px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 35px 25px;

      background: #f9f9f9;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      &-img {
      }
      &-name {
        font-weight: 600;
        font-size: 22px;
        text-align: center;
        color: #434449;
      }
    }
  }
}

.about {
  h2 {
    text-align: center;
  }
  margin-bottom: 50px;
  background-color: #f4f7fa;
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 400px;

    &-paragraph {
      font-weight: 400;
      font-size: 18px;
    }
  }
  &__image {
    height: 450px;
  }
}

.advantages {
  h2 {
    text-align: center;
  }
  margin-bottom: 30px;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      margin-bottom: 0;
    }
  }
  &__list {
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 60px;
      padding: 50px;

      &-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 150px;
      }
      &-info {
        &-title {
          font-family: "Rubik", sans-serif;
          font-weight: 600;
          font-size: 16px;
          line-height: 225%;
          margin-bottom: 15px;
          color: #404040;
        }
        &-subtitle {
          font-weight: 400;
          font-size: 14px;
          line-height: 143%;
          width: 515px;
        }
      }
    }
  }
}

.banner {
  background-color: #273895;
  margin-top: 50px;
  &__inner {
    display: flex;
    justify-content: space-evenly;
    padding: 75px 0;
    gap: 35px;
  }
  &__title {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 137%;
    text-align: center;
    margin: 0;
    color: #fff;
    width: 385px;
  }
  &__list {
    display: flex;
    gap: 25px;
    &-item {
      display: flex;
      flex-direction: column;
      &-number {
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        text-align: center;
        background: linear-gradient(143deg, #4614e8 0%, #bca7ff 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 20px;
      }
      &-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        text-align: center;
        color: #fff;
      }
    }
  }
}
